@import url(./bbss99.css);

body {
	/*
	font-size: 12px;
	line-height: 18px;
	*/
	font-size: 14px;
	line-height: 21px;
}

.f1{font-size:14px; font-family:ÈM¯y; }

td {
	/*
	font-size: 12px;
	*/
	font-size: 14px;
}

